<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="W1EEStudent">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="W1ExeStudent-war.war" deploy-path="/" handle="module:/resource/W1ExeStudent-war/W1ExeStudent-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W1ExeStudent-Common.jar" deploy-path="/lib" handle="module:/resource/W1ExeStudent-Common/W1ExeStudent-Common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W1ExeStudent-ejb.jar" deploy-path="/" handle="module:/resource/W1ExeStudent-ejb/W1ExeStudent-ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
